/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.parent{
  -fx-background-color: linear-gradient(#fcfafb 0%, #fff8fb 40%, #ffebee 70%, #fce4ec 100%);
}
.navigation{
	-fx-border-color: #fcfafb #fcfafb #bdbdbd #fcfafb ;
}
.btnExit{
	  
}
.btnSection:hover {
       -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
       -fx-opacity:1
}
.sidelearning{
	 -fx-background-color:#eceff1;
}
.sideScroll{
	-fx-background-color:#fbe9e7;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #fffafb;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #ffcdd2;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.tooltipPane{
	-fx-background-color:white;
	-fx-border-color:#ec407a ;
	-fx-border-width:5px;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
	-fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-font-size: 13px;
}

.btnSCroll{
	-fx-background-color: #fff9fb;
   /* -fx-border-color:#f50057; */
    -fx-background-radius: 10%;
    -fx-text-fill: #f50057;
    -fx-font-weight:bold;
}