.timeCss{
   	-fx-border-color:#f50057;
    -fx-background-radius: 10.0%;
    -fx-text-fill: #f50057;
    -fx-font-weight:bold;
    -fx-font-size:16.0;
}
.runBtn{
	-fx-border-color:#f50057;
    -fx-background-radius: 10.0%;
    -fx-text-fill: #f50057;
    -fx-font-weight:bold;
    -fx-font-size:16.0;
}
.outTxt{
	-fx-border-color:#f50057;
    -fx-background-radius: 10.0%;
}
.parent{
  -fx-background-color: linear-gradient(#fcfafb 0%, #fff8fb 40%, #ffebee 70%, #fce4ec 100%);
}
.table-view .table-cell {
    -fx-padding: 5 0 5 0;
    -fx-alignment: top-center;
    -fx-background-color:#fafafa;
    -fx-border-width:0.2px;
    -fx-border-color:#000000;
}
.table-row-cell:selected .table-cell {
    -fx-text-fill: BLACK;
}