/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.parent{
  -fx-background-color: linear-gradient(#fcfafb 0%, #fff8fb 40%, #ffebee 70%, #fce4ec 100%);
}
.navigation{
	-fx-border-color: #fcfafb #fcfafb #bdbdbd #fcfafb ;
}
.btnExit{
	  
}
.btnSection:hover {
       -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
       -fx-opacity:1
}
.sidelearning{
	 -fx-background-color:#eceff1;
}
.sideScroll{
	-fx-background-color:#fbe9e7;
}