.cellTable{
	-fx-border-color:black black black black;
	-fx-alignment:center;
}
.cellTable:hover{
	-fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-scale-z: 1;
    -fx-border-color:black black black black;
}

.cellClass{
	-fx-border-color:black black black black;
	-fx-alignment:center;
}
.cellClass:hover{
	-fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-scale-z: 1;
    -fx-border-color:black black black black;
}

.isHover {
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-scale-z: 1;
    -fx-border-color:black black black black;
}
.isNotHover{
	 -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-scale-z: 1;
	-fx-border-color:black black black black;
	-fx-alignment:center;
}
.title{
	-fx-text-fill: #610B38;
	-fx-font-size	:25;
}

.content{
	-fx-text-fill: black;
	-fx-font-size	:15;
}
